


.find-your-dudes-title
{
    height: 30px;
    line-height: 30px;
    margin-bottom:1rem;
    margin-top:$dudetitletop;

    img
    {
        height: 30px;
        float: left;
        margin-right:0.5rem;
    }
    h3
    {
        color:$orangecolor;
        font-size: 24px;
    }
}

.find-your-dudes
{
    border: 1px solid $findyourdudesbordercolor;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: $findyourdudesback;

    .row
    {
        margin:0px;
        .col-md-3
        {
            padding: 0px;
            overflow-y: scroll;
            /* width */
            &::-webkit-scrollbar {
                width: 5px;
            }

            /* Track */
            &::-webkit-scrollbar-track {

                background:none;
            }

            /* Handle */
            &::-webkit-scrollbar-thumb {
                background: $findyourdudesbordercolor;
                border-radius: 10px;
            }

            /* Handle on hover */
            &::-webkit-scrollbar-thumb:hover {
                background:none;
            }
        }
        .col-md-6
        {
            padding: 0px;
            border-left:1px solid $findyourdudesbordercolor;
            border-right:1px solid $findyourdudesbordercolor;
            overflow-y: scroll;
            /* width */
            &::-webkit-scrollbar {
                width: 5px;
                margin-right:-15px;
                position: absolute;
            }

            /* Track */
            &::-webkit-scrollbar-track {

                background:none;
                margin-right:-15px;
            }

            /* Handle */
            &::-webkit-scrollbar-thumb {
                background: $findyourdudesbordercolor;
                border-radius: 10px;
            }

            /* Handle on hover */
            &::-webkit-scrollbar-thumb:hover {
                background:none;
            }

        }
    }
    .my-games
    {
        min-height: $minheight;
        .my-games-title
        {
            height:$titleheight;
            line-height: $titleheight;

            border-bottom: 1px solid $findyourdudesbordercolor;
            img
            {
                height: 16px;
                margin:12px;
                float: left;
            }
            h3
            {
                text-transform: uppercase;
                color:$greycolor;
                font-size: $titlefontsize;
                margin: 0px;
                height: $titleheight;
                line-height: $titleheight;
            }
        }

        .my-games-section
        {

            .my-games-box
            {
                height: 50px;
                padding: 10px 0px;
                border-bottom: 1px solid $findyourdudesbordercolor;



                &.active
                {
                    background-color: $mygamesactivecolor;
                }
                img
                {
                    height: 35px;
                    float: left;
                    margin: 0px 0.5rem;
                }
                .my-games-content
                {

                    h3
                    {
                        font-size:14px;
                        color:$orangecolor;
                        margin-bottom:3px;
                    }
                    .my-games-desc
                    {
                        small
                        {
                            font-size:12px;
                            float: left;
                            margin-right:5px;
                        }
                        p
                        {
                            font-size:12px;
                        }
                    }
                }
            }
        }


        .my-games-bottom
        {
            position: absolute;
            bottom:0px;

            .my-games-notifications
            {
                padding: 0.5rem;
                p
                {
                    font-family: 'Roboto';
                    font-size: 12px;
                    color:$searchcolor;
                }
            }

            .my-games-search
            {
                bottom: 0px;
                .input-group
                {
                    padding: 0.5rem;
                    .input-group-prepend
                    {
                        span
                        {
                            background: none;
                            border: 1px solid $findyourdudesbordercolor;
                            cursor:pointer;
                            color:$searchcolor;
                        }
                    }
                    input
                    {
                        background: none;
                        border: 1px solid $findyourdudesbordercolor;
                        border-top-right-radius: 5px;
                        border-bottom-right-radius: 5px;
                        color:$searchcolor;
                        height: 30px;
                        font-size: 14px;
                        ::placeholder
                        {
                            color:$searchcolor;
                        }
                    }
                }
            }
        }


    }

    .my-games-inside
    {
        min-height: $minheight;
        .my-games-inside-title
        {
            height: $titleheight;
            line-height: $titleheight;
            text-align: center;
            border-bottom: 1px solid $findyourdudesbordercolor;
            h3
            {
                font-size:$titlefontsize;
                margin:0px;
                height: $titleheight;
                line-height: $titleheight;
                color:$greycolor;
                span
                {
                    height: $titleheight;
                    line-height: $titleheight;
                    margin-right: 0.5rem;
                    color:$greycolor;
                }

            }
        }
        .my-games-banner
        {
            img
            {

            }
        }
        .my-games-messages
        {

        }
    }

    .dudes-on-channels
    {
        min-height: $minheight;
        .on-channels-title
        {
            height: $titleheight;
            line-height: $titleheight;
            border-bottom: 1px solid $findyourdudesbordercolor;
            img
            {
                height: 24px;
                margin:6px;
                float: left;

            }
            h3
            {
                height: $titleheight;
                line-height: $titleheight;
                color:$greycolor;
                font-size: $titlefontsize;
                margin:0px;
            }
        }
        .on-channels-messages
        {

        }


        .my-games-bottom
        {
            position: relative;
            bottom: 0px;
            margin: 20px 0px 0px 0px;
            .my-games-search
            {
                bottom: 0px;
                .input-group
                {
                    padding: 0.5rem;
                    .input-group-prepend
                    {
                        span
                        {
                            background: none;
                            border: 1px solid $findyourdudesbordercolor;
                            cursor:pointer;
                            color:$searchcolor;
                        }
                    }
                    input
                    {
                        background: none;
                        border: 1px solid $findyourdudesbordercolor;
                        border-top-right-radius: 5px;
                        border-bottom-right-radius: 5px;
                        color:$searchcolor;
                        height: 30px;
                        font-size: 14px;
                        ::placeholder
                        {
                            color:$searchcolor;
                        }
                    }
                }
            }
        }




    }


}