$backcolor:#14191c;
$whitecolor:#fff;
//$greycolor:#BAB7BE;
$greycolor05opacity:#bab7be69;

$groupcolor05opacity:#f05a2480;
$groupcolor02opacity:#f15a2452;
$dudescolor:#6DB100;
$dudescolor05opacity:#6db10070;
$mecolor:#662D91;
$mecolor05opacity:#662d9170;
$findyourdudesbordercolor:#354247;



$searchcolor:#989898;

$orangecolor:#F05A24;
$dudetitletop:60px;
$greycolor:#D1D1D1;
$mygamesactivecolor:#3D4444;
$titleheight:40px;
$titlefontsize:16px;
$findyourdudesback:#14191C;
$minheight:50%;
//$nextMonthDayborder:#BAB7BE;